<header class="header flex justify-around items-center">
    <div class="header__title flex flex-col justify-center items-start">
        <div class="header__title--top">Welcome Back,</div>
        <div class="header__title--bot">Let’s Check your sales</div>
    </div>
    <div class="header__search flex items-center rounded-lg w-83.75 h-12.25">
        <div class="m-6.25 flex gap-x-3">
            <img src="./src/images/icons/searchnormal1.svg" alt="" class="w-5 aspect-square">
            <input class="header__search--text flex-1 focus:outline-none" type="text" placeholder="Search"></input>
        </div>
    </div>
    <div class="header__btn flex gap-x-1.25 justify-center items-center">
        <img src="./src/images/icons/flash.svg" alt="" class="w-7.5 aspect-square">
        <div class="header__btn--text">Upgrade Now</div>
    </div>
    <div class="flex gap-x-11">
        <div class="w-9.5 aspect-square">
            <img src="./src/images/icons/setting.svg" alt="">
        </div>
        <div class="w-9.5 aspect-square">
            <img src="./src/images/icons/notification.svg" alt="">
        </div>
    </div>
</header>