<header class="header select-none flex-1 top-0 relative flex justify-around items-center">
    <div id="menu-btn" onclick="openSidebar()" class="w-7.25 absolute hidden top-6.25 left-4.5 aspect-square">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
            <path d="M0.75 0.75H22.5M0.75 6.79167H22.5M0.75 12.8333H22.5" stroke="black" stroke-width="1.5"
                stroke-linecap="round" />
        </svg>
    </div>
    <div class="header__title flex flex-col justify-center items-start">
        <div class="header__title--top">Welcome Back,</div>
        <div class="header__title--bot">Let’s Check your sales</div>
    </div>
    <div class="header__search flex items-center rounded-lg w-83.75 h-12.25">
        <div class="m-6.25 flex gap-x-3">
            <img src="./src/images/icons/searchnormal1.svg" alt="" class="w-5 aspect-square">
            <input class="header__search--text flex-1 focus:outline-none" type="text" placeholder="Search"></input>
        </div>
    </div>
    <div class="header__btn flex gap-x-1.25 justify-center items-center">
        <img src="./src/images/icons/flash.svg" alt="" class="w-7.5 aspect-square">
        <div class="header__btn--text">Upgrade Now</div>
    </div>
    <div class="flex gap-x-11">
        <div class="w-9.5 aspect-square">
            <img src="./src/images/icons/setting.svg" alt="">
        </div>
        <div class="w-9.5 aspect-square">
            <img src="./src/images/icons/notification.svg" alt="">
        </div>
    </div>
</header>