<div class="sidebar w-72.5 h-screen overflow-y-auto relative flex flex-col items-center">
    <div onclick="closeSidebar()" class="w-7.25 absolute top-6.25 left-4.5 aspect-square text-white">
        <img class="w-full aspect-square" src="./src/images/icons/hambergermenu.svg">
    </div>
    <div class="sidebar__avatar mt-25 mb-3.75 w-27.5 aspect-square">
    </div>
    <div class="sidebar__info flex flex-col items-center mb-11">
        <div class="sidebar__info--name">Thomas Magnum</div>
        <div class="sidebar__info--rule">Businessman</div>
    </div>
    <ul class="sidebar__nav flex mb-12 flex-col w-full px-8.75 gap-y-6.5">
        <li class="sidebar__nav--item">
            <img src="./src/images/icons/element3.svg" alt="">
            Dashboard
        </li>
        <li class="sidebar__nav--item">
            <img src="./src/images/icons/chart1.svg" alt="">
            Statistics
        </li>
        <li class="sidebar__nav--item">
            <img src="./src/images/icons/emptywallet.svg" alt="">
            Income
        </li>
        <li class="sidebar__nav--item">
            <img src="./src/images/icons/profile.svg" alt="">
            Account
        </li>
        <li class="sidebar__nav--item">
            <img src="./src/images/icons/emptywallet.svg" alt="">
            Income
        </li>
        <li class="sidebar__nav--item">
            <img src="./src/images/icons/profile.svg" alt="">
            Account
        </li>
    </ul>
    <div class="sidebar__card">
        <div class="px-4.5 py-6.5 flex flex-col items-center">
            <div class="w-10.5 aspect-square flex items-center justify-center rounded-full bg-white">
                <img class="w-6 aspect-square top-[50%] left[50%]" src="./src/images/icons/add.svg" alt="">
            </div>
            <div class="sidebar__card--text">Add new product</div>
        </div>
    </div>
    <div class="flex-1"></div>
    <div class="sidebar__btn bottom-9.75 my-10 flex gap-x-2.75">
        <img class="w-6 aspect-square" src="./src/images/icons/logoutcurve.svg" alt="">
        <button class="sidebar__btn--text">Log out</button>
    </div>
</div>