@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Story+Script&display=swap");

@theme {
  --color-primary: #5d5fef;
  --color-border: rgba(0, 0, 0, 0.3);
  --color-bg: rgb(255, 255, 255);
  --color-second: #f9fafb;
  --font-primary: "Roboto", sans-serif;
  --font-logo: "Story Script", sans-serif;
}
