@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer components {
  /* HEADER */
  .header {
    background: #fff;
    box-shadow: 0 9px 22px 0 rgba(0, 0, 0, 0.05);
  }
  .header__title--top {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .header__title--bot {
    color: #aeaeae;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header__search {
    border-radius: 9px;
    background: #efefef;
  }
  .header__search--text {
    color: #767676;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header__btn {
    display: flex;
    width: 215px;
    height: 49px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 14px;
    border-radius: 14px;
    background: #5c8b71;
  }
  .header__btn--text {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
