@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #5c8b71;
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
  /* HEADER */
  .header {
    background: #fff;
    box-shadow: 0 9px 22px 0 rgba(0, 0, 0, 0.05);
  }
  .header__title--top {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .header__title--bot {
    color: #aeaeae;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header__search {
    border-radius: 9px;
    background: #efefef;
  }
  .header__search--text {
    color: #767676;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header__btn {
    display: flex;
    width: 215px;
    height: 49px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 14px;
    border-radius: 14px;
    background: var(--color-primary);
  }
  .header__btn--text {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  /* SIDEBAR */
  .sidebar {
    border-radius: 25px;
    background: linear-gradient(
      9deg,
      #24804d 1.53%,
      rgba(0, 0, 0, 0) 282.72%,
      rgba(59, 183, 114, 0.84) 282.72%
    );
    scrollbar-width: none;
    animation: slideIn 0.3s ease;
  }
  .sidebar__avatar {
    border-radius: 110px;
    background: url(../images/icons/Ellipse1.svg) lightgray 50% / cover
      no-repeat;
  }
  .sidebar__info--name {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sidebar__info--rule {
    color: #cfcfcf;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sidebar__nav {
    scrollbar-width: auto;
  }
  .sidebar__nav--item {
    width: 100%;
    display: flex;
    column-gap: 11px;
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 16px 35px;
  }
  .sidebar__card--text {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sidebar__card {
    border-radius: 6px;
    border: 1px dashed #fff;
    background: rgba(187, 187, 187, 0.15);
  }
  .sidebar__btn--text {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .dashboard__header--title {
    color: #161616;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .dashboard__header--link {
    color: #5c8b71;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .dashboard__top--list-items {
    border-radius: 14px;
    border: 1px solid #ececec;
    background: #fff;
    box-shadow: 0 12px 52px 0 rgba(0, 0, 0, 0.04);
  }
  .dashboard__top--line-one {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
